<%- include('../partials/header') %>

<div>
  <% if(JSON.stringify(workouts).length-2) { %>
    <div class="workout-info">
    <% workouts.forEach(workout => { %>
        <div onclick="window.location='/workouts/<%=workout.id%>'" class="workouts">
          <div> <%= workout.title %> </div>
          <div> <%= workout.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %> </div>
        </div>
          <div> 
            <form action="/workouts/<%= workout.id %>?_method=DELETE" method="POST" class="delete">
              <input type="submit" value="X">
            </form> 
          </div>
          <div class="space">  
            <form action="/workouts/<%= workout.id %>/edit" method="GET" class="edit">
              <input type="submit" value="EDIT">
            </form> 
          </div>        
    <% }) %> 
    </div>
    <% } else { %>
    <div class="no-workouts">
        No Workouts Yet! <br> <br> Click new workout to get started!
    </div>
  <% } %>
</div>
</body>
</html>
