<%- include('../partials/header2') %>

<div>
  <% if(workout.exercise.length) { %>
    <% workout.exercise.forEach(exercise => { %>
      <div onclick="window.location='/workouts/<%= workout.id %>/exercises/<%=exercise.id%>/edit'" class="workouts" id="exercise">
        <div id="details">
          <div> <%= exercise.name %> </div>
          <div> Sets: <%= exercise.sets %> </div>
          <div> Reps: <%= exercise.reps %> </div>
        </div>
        <div id="notes"> <%= exercise.note %> </div>
      </div>
      <form action="/workouts/<%= workout.id %>/exercises/<%=exercise.id%>?_method=DELETE" method="POST" class="delete" id="centre">
        <input type="submit" value="X">
      </form> 
      <% }) %> 
      <div>
        <% } else { %>
          <div class="no-workouts">
            No Exercises Added <br> <br>
          </div>
      </div>
    <% } %>
    <div class="workouts" onclick="window.location='/workouts/<%=workout.id%>/exercises/new'" >
      Add Exercise 
    </div>
    <br> <br> <br>
  </div>
  </body>
</html>
